#nav-bar {
    position: fixed;
    z-index: 20;
    left: 1%;
    top: 8%;
    height: calc(100% - 17%);
    background: var(--navbar-dark-primary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    color: var(--navbar-light-primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    user-select: none;
  }

@media only screen and (max-width: 600px) {
    #nav-bar{
        display: none;
    }

    #nav-barphone{
        position: static;
        background: #cdcdcd;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        overflow: hidden;
        user-select: none;
    }
    #nav-contentphone{
        padding: 10px;
        justify-content: space-evenly;
        display: flex;
    }

    #nav-contentphone:hover{
        background-color: #464646;
        color: white;
    }

    .dark-mode #nav-barphone{
      background-color: #000000;
    }

  header a{
      display: none;
  }

  .book-list {
    width: 140vw;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      justify-content: center;
      align-items: center;
      place-items: center;
      display: grid;
  }

  .book-card {
      width: 120px;
      height: 200px;
  }
  .book-card img{
      width: 100px;
      height: 150px;
  }

  .book-info h4{
    font-size: 14px;
  }
  .book-info p{
    font-size: 10px;
  }
  .book-info p strong{
    font-size: 14px;
  }

  .see-all-button{
    margin-top: 130%;
  }
  .recommendeds {
      padding: 20px;
      border-radius: 8px;
      width: 100px;
      height: 200px;
      top: 0;
      overflow: visible;
      justify-content: center;
  }

  .recommendeds-book {
      top: 0;
      transform: translateX(-50%) scale(0.7);
      opacity: 0;
      transition: opacity 1s ease, transform 1s ease;
  }

  .recommendeds img {
      width: 150px;
      height: 250px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s ease;
  }

  .recommended {
      padding: 20px;
      border-radius: 8px;
      width: 100px;
      height: 200px;
      overflow: hidden;
      justify-content: center;
  }

  .recommended-book {
      top: 0;
      transform: translateX(-50%) scale(0.7);
      opacity: 0;
      transition: opacity 1s ease, transform 1s ease;
  }

  .recommended img {
      width: 150px;
      height: 250px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s ease;
  }

  .square2{
      align-items: center;
      justify-content: center;
      width: auto;
      top: 25%;
      border-radius: 20px;
      border: .5px solid black;
      box-shadow: 2px 2px 10px  gray;
      color: #000000;
  }
  .square{
      display: flex;
      width: auto;
  }

  .collapse{
    margin-top: 10%;
    display: grid;
    justify-content: center;
    align-items: center;
    place-items: center;
  }

  .collapse button{
    
    margin-bottom: 5%;
    text-align: center;
  }

  .collapsible {
    background-color: #c8c4c4;
    color: rgb(248, 248, 248);
    cursor: pointer;
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

  .content p{
    text-align: justify;
    font-size: 12px;
  }

  #profilehead {
    display: grid;
    justify-content: center;
    align-items: center;
    place-items: center;
    height: 80px;
    border-radius: 16px;
    z-index: 2;
    transition: width 0.2s, height 0.2s;
  }
  
  #profileheading {
    justify-content: center;
    align-items: center;
    place-items: center;
    display: grid;
    width: 100%;
    height: auto;
    align-items: center;
  }
  
  #profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(0);
    transition: 0.2s;
  }
  #profile img {
    height: 100%;
  }

  #profiletitle{
    color: rgb(51, 50, 50);
    text-decoration: none;
  }

  #profiletitle:hover{
    color: red;
  }
  
  #profilesubtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    font-size: 0.6rem;
  }

  .icons i{
    color: #414040;
    font-size: 20px;
  }

  .theme-selector {
    margin-top: -20px;
  }
  .search-bar{
    position: static;
    width: auto;
  }
  .nav-buttonphone i{
    color: #232323;
  }
  
  .dark-mode #nav-barphone, 
  .dark-mode .content, 
  .dark-mode .collapsible,
  .dark-mode #profiletitle,
  .dark-mode .icons i, 
  .dark-mode .nav-buttonphone i{
    background-color: #232323;
    color: #e3e3e3;
  }
  .pink-mode #nav-barphone, 
  .pink-mode .content, 
  .pink-mode .collapsible, 
  .pink-mode .nav-buttonphone i{
    background-color: #f4a1eb;
    color: #a70689;
  }
  .brown-mode #nav-barphone, 
  .brown-mode .content, 
  .brown-mode .collapsible, 
  .brown-mode .nav-buttonphone i{
    background-color: #bc896b;
    color: #a14300;
  }

  .blue-mode #nav-barphone, 
  .blue-mode .content,
  .blue-mode .collapsible, 
  .blue-mode .nav-buttonphone i{
    background-color: #79aaea;
    color: #2127cc;
  }
}
